# Ignorar diretórios de build do NetBeans/Ant
/build/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
/nbproject/configs/

# Ignorar arquivos de configuração locais do NetBeans
/nbactions.xml
/nb-configuration.xml

# Ignorar arquivos de log e temporários
*.log
*.tmp
*.bak
*.swp

# Ignorar arquivos compilados Java
*.class

# Ignorar pacotes gerados
*.jar
*.war
*.ear

# Ignorar arquivos de IDEs (IntelliJ, Eclipse, VSCode)
*.iml
/.idea/
/.project
/.classpath
/.settings/
/.vscode/

# Ignorar arquivos de configuração e SQL personalizados
/config.properties
/MySQL-Workbench.sql
/SSMS.sql
/SSMS-config.properties

